* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
}



header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 2;
    text-align: right;
}

nav {
    line-height: 70px;
    height: 70px;
}

nav li {
    display: inline-block;
    list-style-type: none;
    padding: 4px;
}

nav li a {
    text-decoration: none;
    color: black;
    font-size: 8px;
    background-color: white;
    border-radius: 50%;
    padding: 8px;
}


/* container */

#container-1 {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #ff0000;
}


#container-2 {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #008000;
}



#container-3 {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #ffff00;
}



/* immagini e testo */

.red,
.green,
.yellow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.text-red, 
.text-green {
    text-align: center;
    color: #ff0;
    font-size: 36px;
}

.text-yellow {
    text-align: center;
    color: #008000;
    font-size: 36px;
}
